
<div ng-repeat="event in vm.events" on-finish-render="vm.finishRenderEvents()">

  <div class="unical-calendar__submit-form-back">
    <a ng-show="event.date[0].end_unix >= vm.today || vm.siteSettings.allow_archive == false" href="./">Back to Calendar</a>
    <a ng-show="event.date[0].end_unix <= vm.today && vm.siteSettings.allow_archive == true" href="./archive">Back to Archive</a>
  </div>

  <update-title title="{{event.label}} | {{vm.siteSettings.label}}"></update-title>
  <update-meta property="og:type" content="article" /></update-meta>
  <update-meta property="og:url" content="{{vm.url}}event/{{event.id}}/{{event.uri}}" /></update-meta>
  <update-meta property="og:title" content="{{event.label}} | {{vm.siteSettings.label}}" /></update-meta>
  <update-meta property="og:description" content="{{event.body_trimmed}}" /></update-meta>

  <div class="unical-calendar__events">
    <div class="unical-calendar__event unical-calendar__event--spotlight">
      <div class="unical-calendar__event-media" ng-if="event.image.image_styles.large || vm.siteSettings.default_event_image.image_styles.large">
        <img ng-if="event.image.image_styles.large" ng-src="{{event.image.image_styles.large}}" alt="{{event.image.alt}}">
        <img ng-if="vm.siteSettings.default_event_image.image_styles.large && !event.image.image_styles.large" ng-src="{{vm.siteSettings.default_event_image.image_styles.large}}" alt="">
      </div>
      <div class="unical-calendar__event-content">
        <h1 class="unical-calendar__event-title">{{event.label}}</h1>
        <p>
          <span ng-if="event.date">{{event.date[0].start_date}}</span> <span ng-if="event.date[0].start_date != event.date[0].end_date"><em>to</em> {{event.date[0].end_date}}</span><br>
          <span ng-switch="event.date[0].start_time === '12:00 AM' && event.date[0].end_time === '11:59 PM'">
            <span ng-switch-when="true">All Day</span>
            <span ng-switch-default>
              <span ng-if="event.date">{{event.date[0].start_time}} <span ng-if="event.date[0].start_unix != event.date[0].end_unix">- {{event.date[0].end_time}}</span>
            </span>
          </span>
          <br>
          <span ng-if="event.venue_name">
            <span ng-switch="!!event.venue_url">
              <a ng-switch-when="true" href="{{event.venue_url.url}}" target="_blank">{{event.venue_name}}</a>
              <span ng-switch-default>{{event.venue_name}}</span>
            </span><br>
          </span>
          <a ng-if="event.rsvp_ticket" href="{{event.rsvp_ticket.url}}" target="_blank">{{event.rsvp_ticket.title || 'More Information'}}</a>
        </p>
        <div ng-if="event.date.length > 1">
          <p>This event has multiple dates. <a href ng-click="showRepeatDates = !showRepeatDates; vm.multipleDates()" class="unical-calendar__event-date-multiple-trigger"><span ng-hide="showRepeatDates">Show all dates</span><span ng-show="showRepeatDates">Hide all dates</span></a></p>
          <div class="unical-calendar__event-date-multiple-wrapper">
            <ul ng-show="showRepeatDates" class="unical-calendar__event-date-multiple-list">
              <li ng-repeat="(key, date) in event.date">{{date.start_date}}
                <span ng-switch="date.start_time === '12:00 AM' && date.end_time === '11:59 PM'">
                  <span ng-switch-when="true"> (All Day)</span>
                  <span ng-switch-default>
                    <span ng-if="event.date"> ({{date.start_time}}<span ng-if="date.start_unix == date.end_unix">)</span> <span ng-if="date.start_unix != date.end_unix">- {{date.end_time}})</span>
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>

        <ul ng-if="event.event_facebook || event.event_twitter" class="contact_social">
          <li ng-if="event.event_facebook">
            <a href="{{event.event_facebook.url}}" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li ng-if="event.event_twitter">
            <a href="{{event.event_twitter.url}}" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>

        <div class="unical-calendar__event-body" ng-bind-html="event.body"></div>

        <div ng-show="event.date[0].end_unix >= vm.today" class="unical-calendar__event-links">
          <add-this></add-this>
          <add-to-calendar></add-to-calendar>
        </div>

      </div>

    </div>

    <div class="unical-calendar__event-taxonomy">
      <div ng-repeat="(taxonomyId, taxonomy) in vm.taxonomies">
        <div ng-show="taxonomy.enabled">
          <h3 ng-show="event[taxonomyId]">{{taxonomy.label}}</h3>
          <ul ng-show="event[taxonomyId]">
            <li ng-repeat="taxonomyTid in event[taxonomyId]">
              <span ng-repeat="eventTaxonomy in taxonomy.terms" ng-if="eventTaxonomy.id == taxonomyTid"><a href="./" ng-click="vm.getEventsByTaxonomy(eventTaxonomy.id, taxonomyId)">{{eventTaxonomy.label}}</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="unical-calendar__aside">
    <div class="unical-calendar__sidebar">
      <section ng-if="event.venue_name || event.address.full_address || event.map_center_lat || event.map_center_lng">
        <h3>Location</h3>
        <div class="unical-calendar__event-map" ng-if="event.address.full_address || event.map_center_lat || event.map_center_lng">
          <iframe width="100%" height="300" frameborder="0" style="border:0" src="{{vm.getMapUrl(event.address.full_address, event.map_zoom, event.map_center_lat, event.map_center_lng)}}"></iframe>
        </div>
        <span ng-if="event.venue_name">
          <span ng-switch="!!event.venue_url">
            <a ng-switch-when="true" href="{{event.venue_url.url}}" target="_blank">{{event.venue_name}}</a>
            <span ng-switch-default>{{event.venue_name}}</span>
          </span><br>
        </span>
        <span ng-if="event.address.full_address" ng-bind-html="event.address.full_address"></span>
      </section>
      <section ng-if="event.cost || event.free">
        <h3>Cost</h3>
        <h7 ng-if="event.free">Free Event</h7>
        <p ng-if="event.cost" ng-bind-html="event.cost" class="pre"></p>
      </section>
      <section ng-if="event.rsvp_ticket.url || event.rsvp_phone || event.rsvp_email || event.rsvp_how_to">
        <h3>{{event.rsvp_text || 'How to RSVP'}}</h3>
        <div ng-if="event.rsvp_how_to" ng-bind-html="event.rsvp_how_to.safe_value"></div>
          <a ng-if="event.rsvp_ticket" href="{{event.rsvp_ticket.url}}" target="_blank">{{event.rsvp_ticket.title || 'More Information'}}</a>
          <p ng-if="event.rsvp_phone || event.rsvp_email">
            <span ng-if="event.rsvp_phone">Phone: {{event.rsvp_phone}}<br></span>
            <span ng-if="event.rsvp_email">Email: <a href="mailto:{{event.rsvp_email}}">{{event.rsvp_email}}</a></span>
          </p>
      </section>
      <section ng-if="event.organizer_name || event.organizer_phone || event.organizer_email || event.event_website || event.organizer_facebook || event.organizer_twitter">
        <h3>Organization</h3>
        <div ng-if="event.organizer_name || event.organizer_phone || event.organizer_email">
          <h4>Contact</h4>
          <p>
            <span ng-if="event.organizer_name">{{event.organizer_name}}<br></span>
            <span ng-if="event.organizer_phone">Phone: {{event.organizer_phone}}<br></span>
            <span ng-if="event.organizer_email">Email: <a href="mailto:{{event.organizer_email}}">{{event.organizer_email}}</a></span>
          </p>
        </div>
        <div ng-if="event.event_website || event.organizer_facebook || event.organizer_twitter">
          <h4>Web</h4>
          <a ng-if="event.event_website" href="{{event.event_website.url}}" target="_blank">Event website</a>

          <ul ng-if="event.organizer_facebook || event.organizer_twitter" class="contact_social">
            <li ng-if="event.organizer_facebook">
              <a href="{{event.organizer_facebook.url}}" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li ng-if="event.organizer_twitter">
              <a href="{{event.organizer_twitter.url}}" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!-- Show edit event button -->
    <a class="unical-calendar__buttoon detailedit" href="{{vm.url}}node/{{event.id}}/edit" target="_blank">Edit This Event</a>
  </div>

</div>
