// ========================================
// Buttoon
// ========================================

.unical-calendar__buttoon {
  display: inline-block;
  border: 0;
  margin-bottom: .275em;
  padding: .5em;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
  }

  i {
    margin-right: .25em;
  }

}

.unical-calendar__buttoon--full {
  width: 100%;
  margin-bottom: 1em;

  i {
    float: right;
  }

}

.unical-calendar__buttoon--image {
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
}


// ========================================
// Event Pool
// ========================================


.unical-calendar__event-pool {

  @media (min-width: 400px) {
    // float: left;
    margin-top: 2em;
  }

}


// ========================================
// Clear Calendar
// ========================================

.unical-calendar__clear-filters {
  display: block;
  padding-bottom: 1em;
  cursor: pointer;

  @media (min-width: 400px) {
    float: right;
    padding: 2em 0 1em;
  }

}


// ========================================
// Back Button
// ========================================

.unical-calendar {

  #back_btn {
    display: block;
    padding-bottom: 1em;
  }

}


// ========================================
// Add This Dropdown
// ========================================

.unical-calendar {

  .addthis_toolbox {
    display: inline-block;

    a {
      line-height: inherit !important;
    }

  }

  .addthisevent-drop {
    position: relative;
    -webkit-font-smoothing: antialiased !important;
    -webkit-touch-callout: none;
    user-select: none;
  }

  .addthisevent_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
    display: none;
    width: 200%;
    padding: 1em 0;
    text-align: left;
    background: #fff;
    box-shadow: 0 .15em 2em 0 rgba(#000, .5);

    span {
      display: block;
      padding: .5em 1em;
      padding-left: 3em;
      text-decoration: none;
      color: #000;
    }

    .copyx {
      position: relative;
      display: block;
      height: 1em;
      cursor: default;
    }

    .brx {
      position: absolute;
      top: 10px;
      right: 10px;
      left: 10px;
      z-index: 100;
      overflow: hidden;
      height: 1px;
      background: #e0e0e0;
    }

    .frs {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 110;
      padding-left: 10px;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 9px !important;
      line-height: 110% !important;
      text-align: right;
      text-decoration: none;
      background: #fff;
      cursor: pointer;
      color: #cacaca !important;
    }

  }

  .addthisevent span {
    display: none !important;
  }

  .addthisevent-drop .data {
    display: none !important;
  }

  .ateappleical {
    background-image: url(http://addthisevent.com/gfx/dropdown-apple-t1.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

  .ateoutlook {
    background-image: url(http://addthisevent.com/gfx/dropdown-outlook-t1.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

  .ateoutlookcom {
    background-image: url(http://addthisevent.com/gfx/dropdown-outlook-t1.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

  .ategoogle {
    background-image: url(http://addthisevent.com/gfx/dropdown-google-t1.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

  .ateyahoo {
    background-image: url(http://addthisevent.com/gfx/dropdown-yahoo-t1.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

  .atefacebook {
    background-image: url(http://addthisevent.com/gfx/dropdown-facebook-t1.png);
    background-repeat: no-repeat;
    background-position: 13px 50%;
  }

}


// ========================================
// Add To Calendar Help Button
// ========================================

.addtocalendar_help {
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

// ========================================
// Event Detail Edit
// ========================================

.detailedit {
  display: none;
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

.unical-event-editor {
  .detailedit {
    display: block;
  }
}
