// ========================================
// Event
// ========================================

.unical-calendar__event {
  position: relative;
  border-top: 1px solid #eee;
  padding: 3em 0;

  &:after {
    display: table;
    clear: both;
    content: '';
  }

}

  .unical-calendar__event-date {
    position: absolute;
    top: 4em;
    left: 0;

    span {
      display: block;

      &:first-child {
        text-transform: uppercase;
      }

      &:last-child {
        font-size: 170%;
      }

    }

  }

  .unical-calendar__event-main {
    padding-left: 4em;
  }

  .unical-calendar__event-main__archive {
    padding-left: 0em;
  }


    .unical-calendar__event-media {
      margin-bottom: 1em;
      display: none;

      @media (min-width: 600px) {
        display: block;
      }

      @media (min-width: 1000px) {
        float: left;
        width: 30%;
        margin-right: 1em;
      }

      img {
        display: block;
        width: 100%;
      }

    }

    .unical-calendar__event-content {}

      .unical-calendar__event-title {
        margin: 0;

        a {
          text-decoration: none;
        }

      }

      .unical-calendar__event-caption {}

      .unical-calendar__event-links {
        text-align: right;
      }

      .unical-calendar__event-taxonomy {
        clear: both;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }

          li {
            display: inline-block;
            margin-right: .25em;
            margin-bottom: .25em;
            border-radius: .25em;
          }

            a {
              display: block;
              border: 1px solid #ddd;
              padding: .75em 1em;
              text-decoration: none;
              background: #eee;
              color: inherit;
            }

      }

      .unical-calendar__event-date-multiple-wrapper {
        overflow: scroll;
        margin-bottom: 20px;
        margin-top: 20px;
          .unical-calendar__event-date-multiple-list {
            list-style-position: inside;
            margin-top: 0px;
            font-size: .8em;

            @media (min-width: 600px) {
              -webkit-column-count: 2; /* Chrome, Safari, Opera */
              -moz-column-count: 2; /* Firefox */
              column-count: 2;
            }

            @media (min-width: 1200px) {
              -webkit-column-count: 3; /* Chrome, Safari, Opera */
              -moz-column-count: 3; /* Firefox */
              column-count: 3;
            }
          }

      }
