// ========================================
// Calendar Mini Block
// ========================================

.unical-calendar__calendar {
  display: none;
  border: .15em solid #ddd;

  @media (min-width: 800px) {
    display: block;
  }
}


// ========================================
// Mini Block Controls
// ========================================

.unical-calendar__calendar-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  %unical-calendar__calendar-control {
    padding: 1em;
    cursor: pointer;
  }

  .unical-calendar__calendar-previous-button {
    @extend %unical-calendar__calendar-control;

    &.disabled {
      visibility: hidden;
    }
  }

  .month {}

  .unical-calendar__calendar-next-button {
    @extend %unical-calendar__calendar-control;
  }

// ========================================
// Mini Block Grid
// ========================================

.unical-calendar__calendar-grid {
  text-align: center;

  // Days of the week header
  // ----------------------------------------

  .days-of-the-week {
    background: #eee;
    box-shadow:
      inset 0 1px 0 0 #eee,
      inset 0 2px 0 0 #fff;

    &:after {
      display: table;
      clear: both;
      content: '';
    }

  }

    .header-day {
      float: left;
      width: 100 / 7 * 1%;
      padding: 1em 0;
    }

  // Numbered days within the grid
  // ----------------------------------------

  .days {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    &:after {
      display: table;
      clear: both;
      content: '';
    }

  }

    .day {
      float: left;
      width: 100 / 7 * 1%;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 1em 0;

      &.past {
        color: rgba(#000, .5);
      }

      &.adjacent-month {
        color: rgba(#000, .25);
      }

      &.inactive {}

      &.active {}

      &.today {
        background: #eee;
      }

    }

    .event-indicator {
      position: relative;
      cursor: pointer;
      outline: none;

      &:after {
        position: absolute;
        top: 100%;
        left: 25%;
        height: .2em;
        width: 50%;
        content: '';
        background: rgba(#fff, .25);
        border-radius: 2em;
      }

    }

}
