// ========================================
// Search
// ========================================

.unical-calendar__search {
  margin-bottom: 1em;
  padding: 1em;
  background: #eee;

  &:after {
    display: table;
    clear: both;
    content: '';
  }

}

  %unical-calendar__search-control {
    width: 100%;
    border: 0;
    padding: 1em;
    font: initial;
    font-family: sans-serif;
    font-size: 1em;
    outline: 0;
  }

  .unical-calendar__search-term {
    float: left;
    width: calc(100% - #{50 / 16 * 1rem});

    input {
      @extend %unical-calendar__search-control;
    }

  }

  .unical-calendar__search-action {
    float: left;
    width: calc(#{50 / 16 * 1rem});
    text-align: center;

    button {
      @extend %unical-calendar__search-control;
      cursor: pointer;
      background: #ddd;
    }

  }
