// ========================================
// Special Type Instances
// ========================================

[class*='unical-calendar__message'] {
  display: inline-block;
  margin: .5em 0;
}

.unical-calendar__message--error {
  box-shadow: 0 .125rem 0 0 #f22;

  &:after {
    content: ' - upload failed.';
  }

}

.unical-calendar__message--success {
  box-shadow: 0 .125rem 0 0 #2f2;

  &:after {
    content: ' - upload successful!';
  }

}

.unical-calendar {
 
  .pre {
    white-space: pre-wrap;
  }
  
}